main .image-collage {
  columns: 1;
  column-gap: 2rem;
  padding-inline: 1rem;
}

main .image-collage>div {
  display: inline-block;
  break-inside: avoid-column;
  page-break-inside: avoid;
}

main .image-collage.tradition>div {
  margin-bottom: 1.5rem;
}

main .image-collage>div>div:first-of-type {
  padding-top: 26px;
  padding-bottom: 14px;
}

main .image-collage.tradition>div>div:first-of-type {
  padding-top: 0;
  padding-bottom: 0;
}

main .image-collage img {
  width: calc(100vw - 2rem);
}

main .image-collage * {
  font-size: var(--font-size-small);
  color: #6D757C;
}

@media (min-width: 62rem) {
  main .image-collage {
    columns: 2;
    padding: unset;
  }

  main .image-collage.tradition {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  main .image-collage.tradition::after {
    content: "";
    flex: auto;
  }

  main .image-collage.tradition>div {
    flex: 0 0 calc(100% / 2 - 2rem);
    margin-bottom: 2rem;
  }

  main .image-collage.tradition>div>div:first-of-type {
    padding: unset;
  }
}