.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > div > h2 {
  margin-top: 2.5rem;
}

.columns > div > div > p {
  margin-top: 2rem;
}

.columns > div > .columns-img-col {
  flex-basis: 45%;
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns a.button.tertiary {
  background-color: unset;
  color: var(--tertiary);
}

.columns a.button.primary.video-link::after {
  content: url("../../icons/play.svg");
  position: relative;
  top: 0.1rem;
  left: 0.3rem;
}

@media (width >= 992px) {
  .columns > div {
    align-items: flex-start;
    flex-direction: unset;
    gap: 3rem;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    flex-basis: 50%;
  }
}
