.section.full-width.hero-banner-container .section-container {
    position: relative;
    height: 512px;
    margin-bottom: 138px;
}

.hero-banner video {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 100%;
}

.hero-banner {
    height: 512px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.hero-banner-container .hero-banner-content::before {
    content: "";
    background: #00587C;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 100%;
}

.hero-banner-container .default-content-wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}


.hero-banner-container .hero-banner-content {
    background: #00587C;
    color: #fff;
    min-height: 258px;
    width: calc(834px + 186px);
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: -2rem;
    position: relative;
}

.hero-banner-text h6 {
    color: rgb(255 255 255/ 70%);
    margin-bottom: 0.75em;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: 0.05em;
}

.hero-banner-text h2 {
    font-weight: 300;
    font-size: 2.25rem;
    line-height: 1.3em;
    color: var(--white);
    font-family: var(--body-font-family);
    margin: 0;
}

.hero-banner-container .hero-banner-button span {
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color :rgb(255 255 255 / 50%);
    width: 100%;
}

.hero-banner-button a.button.primary {
    background-image: url("../../icons/play.svg");
    height: 82px;
    width: 82px;
    min-width: auto;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-banner-container .hero-banner-button {
    flex-basis: 186px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-banner-container .hero-banner-text {
    flex-basis: calc(100% - 186px);
}

.hero-banner-container .hero-banner-text-container {
    position: absolute;
    top: 328px;
}

@media (max-width: 62rem){
    .section.full-width.hero-banner-container .section-container {
        height: auto;
        margin-bottom: 2rem;
    }

    .hero-banner {
        height: 160px;
    }

    .hero-banner video {
        min-height: 160px;
    }

    .hero-banner-container .hero-banner-button a.button.primary {
        margin-bottom: 0;
        height: 50px;
        width: 50px;
    }

    .hero-banner-container h6 {
        font-size: 0.75rem;
    }

    .hero-banner-container h2 {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 2rem;
    }

    .hero-banner-container .hero-banner-button span {
        width: auto;
        margin-left: 0.5rem;
        font-size: 12px;
    }

    .hero-banner-container .hero-banner-button {
        flex-basis: 100%;
        width: 100%;
        justify-content: left;
        align-items: center;
        align-content: center;
    }

    .hero-banner-container .hero-banner-text {
        flex-basis: 100%;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .hero-banner-container .hero-banner-content{
        width: auto;
        margin-bottom: 0;
        padding: 2rem 1rem;
        flex-wrap: wrap;
        min-height: auto;
    }

    .hero-banner-container .hero-banner-text-container {
        position: relative;
        top: 0;
    }
    
    .hero-banner-container .default-content-wrapper {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}
