body.construction .section.cards-container.centered.narrow {
    margin: auto;
}

body.construction  main .block.cards {
    margin: 0;
}

body.construction .cards .cards-card-body p {
    text-align: left;
}

body.construction .cards .cards-card-body p {
    text-align: left;
}

body.construction main .cards ul>li {
    height: unset;
}

body.construction main .cards h6 {
    font-size: 16px;
    letter-spacing: 0;
    color: #3C4650;
    margin-bottom: 8px;

}

body.construction main .cards p {
    margin: 0 auto;
    font-size: 14px;
    color: rgba(60, 70, 80, 0.7);
}

body.construction main .block.cards.horizontal-content>ul>li,
body.construction main .block.cards.horizontal-content>ul>li>a {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    align-items: center;
}

body.construction main .block.cards.horizontal-content .cards-card-image img {
    width: 47px;
    height: 47px;
}

body.construction main .block.cards.horizontal-content .cards-card-body h4 {
    font-size: 14px;
    font-weight: 700;
    color: #007CAD;
    text-decoration: none;
    background-color: transparent;
    text-align: left;
}

body.construction main .block.text h3 {
    font-size: 1rem;
    font-weight: 500;
}

body.construction main .block.text.left-mobile-only h3,
body.construction main .block.text.left-mobile-only h2,
body.construction main .block.text.left h2 {
    text-align: left;
    margin-left: 0;
}

body.construction main .block.text h4 {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
}

body.construction main .block.text.arc-solution h4 {
    font-size: 1rem;
    text-align: right;
}

body.construction .features-detail h3 {
    font-size: 1rem;
    font-weight: 500;
    margin: 2rem 1rem 4rem;
    text-align: left;
    line-height: 24px
}

body.construction .arc-solution h2 {
    margin-bottom:2.5rem;
    font-size: 1.5rem;
    font-weight: 300;
}

body.construction .features h2 {
    width: auto;
    text-align: left;
    margin: 0 1rem 1.5rem 1rem;
    color: #00587C;
}


@media (min-width: 62rem) {
    body.construction main .cards h6 {
        margin-bottom: 1rem;
        font-size: 18px;
        letter-spacing: 0;
        color: #3C4650;
    }

    body.construction main .block.cards>ul>li {
        margin: 0;
    }

    body.construction main .block.cards>ul>li .cards-card-image{
        margin: 0;
        height: 120px;
    }

    body.construction main .block.cards>ul>li h6 {
        text-align: center;
    }

    body.construction main .block.cards.horizontal-content>ul>li {
        width: calc(100% / 2 - 16px);
        padding: 0 40px;
    }

    body.construction main .block.cards.horizontal-content>ul>li,
    body.construction main .block.cards.horizontal-content>ul>li>a {
        height: 120px;
    }

    body.construction main .block.cards.horizontal-content .cards-card-body {
        padding-top: unset;
    }

    body.construction main .block.cards.horizontal-content .cards-card-body h4 {
        font-size: 2rem;
        font-weight: 500;
    }


    body.construction main .block.cards.horizontal-content .cards-card-image {
        width: auto;
        height: auto;
        margin: 0;
        margin-right: 40px;

    }

    body.construction .cards .cards-card-body p {
        text-align: unset;
    }

    body.construction main .block.text h3 {
        font-size: var(--heading-font-size-m);
    }

    body.construction main .block.text.left-mobile-only h3,
    body.construction main .block.text.left-mobile-only h2 {
        text-align: unset;
        margin-left: unset;
    }

    body.construction main .block.text.arc-solution h4 {
        font-size: 2rem;
        text-align: center;
    }

    body.construction .features-detail h3 {
        max-width: 800px;
        text-align: center;
        margin: 0 auto 96px;
        color: #3C4650;
        line-height: 1.3em;
    }

    body.construction .features h2 {
        max-width: 900px;
        text-align: center;
        margin: 0 auto 4rem;
    }

    body.construction .arc-solution h2 {
        font-size: 42px;
        margin-bottom: 4rem;
    }


}