/* header and nav layout */
header.header-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
}

header .block {
  max-width: 1200px;
  margin: auto;
}

header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  display: flex;
  align-items: center;
}

header nav>ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  ;
}

header nav>ul>li {
  align-items: center;
}

header nav>ul>li>ul {
  display: none;
}

header nav.nav-top {
  justify-content: flex-end;
  height: 42px;
}

header nav.nav-top>ul {
  display: flex;
}

header nav.nav-top>ul>li {
  font-size: 14px;
  line-height: 1;
  color: #3C4650;
  display: inline-flex;
  padding: 0 0.5rem;
  text-decoration: none;
}

header nav.nav-middle {
  justify-content: space-between;
  height: 26px;
}

header nav.nav-middle>h4 {
  font-size: 24px;
  font-weight: 300;
  color: #00587C;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0.3rem;
}

header nav.nav-bottom {
  height: 52px;
  justify-content: space-between;
}

header nav.nav-bottom>ul>li {
  margin-right: 1.9rem;
}

header nav.nav-bottom>ul>li>a {
  padding: 1rem 0;
  line-height: 1;
  border-bottom: 4px solid transparent;
  text-decoration: none;
}

header nav.nav-bottom>ul>li>a:hover {
  color: #007CAD;
}