.carousel {
    background-color: var(--dark-blue-color);
    display: block;
}

.image-item {
    opacity: 0;
    display: none;
    height: 100%;
}

.text-item {
    padding: 1.5rem 1rem 5.5rem;
    opacity: 0;
    display: none;
    height: 100%;
}

.carousel .text {
    color: var(--white-color);
    display: flex;
}

.carousel img {
    height: 15.3rem;
    width: 100%;
    object-fit: cover;
}

.carousel .section-container {
    display: flex;
    flex-direction: column-reverse;
}

.text-item.active, .image-item.active {
    opacity: 1;
}

.text-item.unhide, .image-item.unhide {
    display: block;
}

.carousel h1 {
    opacity: 0.7;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: var(--heading-font-size-xxs);
    letter-spacing: 0;
    line-height: 1rem;
    font-weight: var(--font-weight-bold);
    margin-top: 0;
}

.carousel h2 {
    margin-bottom: 1rem;
    font-weight: var(--font-weight-small);
    font-size: var(--heading-font-size-m);
    line-height: 1.3em;
    margin-top: 0;
}

.carousel p {
    font-weight: var(--font-weight-medium);
    font-size: 1rem;
    line-height: 1.5em;
    margin-top: 0;
}

.carousel a.button.primary {
    background: var(--methyle-blue-color);
    border: none;
    padding: 0 1.5em;
    align-items: center;
    justify-content: center;
    height: 3rem;
    display: inline-flex;
    border-radius: 0%;
    min-width: 10rem;
}

.carousel a.button.primary:hover {
    background: var(--pacific-blue-color);
}

.carousel .icon {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 18px;
    width: 12px;
    display: inline-flex;
}

.carousel .icon-right {
    background-image: url('../../icons/right-white.svg');
    display: none;
    cursor: pointer;
}

.carousel .icon-left {
    background-image: url('../../icons/left-white.svg');
    display: none;
    cursor: pointer;
}

.swiper-pagination-bullet {
    cursor: pointer;
    height: 0.5rem;
    width: 0.5rem;
    display: inline-flex;
    margin-right: 0.75rem;
    background: #ffffff1f;
    border-radius: 50%;
}

.swiper-pagination-bullet:last-child {
    margin-right: 0;
}

.swiper-pagination-bullet.active {
    background-color: var(--white-color);
}

.control-container {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 2.875rem;
    z-index: 10;
}

.swip-pagination {
    display: inline-flex;
    padding: 0 1.5rem;
}

main .section.carousel-container {
    padding: 0
}

@media (min-width: 62rem) {
    .carousel {
        display: flex;
        flex-direction: column;
        height: 43.75rem;
    }

    .carousel .icon-right {
        display: block;
    }
    
    .carousel .icon-left {
        display: block;
    }

    .carousel .section-container {
        flex-direction: row;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        width: 56.375rem;
    }

    .carousel img {
        height: 100%;
    }

    .text-item {
        position: absolute;
        transition: all 0.5s ease-in-out;
        width: 21.688rem;
    }

    .carousel .text {
        padding-top: 10rem;
        position: relative;
    }

    .carousel .image {
        left: 50%;
        height: 43.75rem;
        position: absolute;
    }

    .section > div.carousel-wrapper {
        margin: 0;
        max-width: unset;
    }

    .hero-slider-controller {
        width: 56.375rem;
        margin: auto;
        position: relative;
    }

    .control-container {
        margin: auto;
        width: 100%;
        padding-left: 1rem;
        position: absolute;
        transform: translateX(-50%);
        left: 50.5%;
    }

    .carousel h2 {
        font-size: 2.25rem;
    }
}

@media (min-width: 77rem) {
    .hero-slider-controller {
        width: 75rem;
    }

    .carousel .section-container {
        width: 75rem;
    }

    .text-item {
        width: 30rem;
    }

    .control-container {
        width: 100%;
    }   
}
