div.news-wrapper {
  background-color: #F0F5F7;
}

div.news {
  display: flex;
  flex-direction: column;
  font-size: var(--body-font-size-s);
  font-weight: var(--font-weight-small);
  line-height: 14px;
  padding: 16px;
  max-width: 1200px;
}

.news a:link, .news a:visited {
  color: var(--link-hover-color);
}

.news a:hover {
  text-decoration: underline;
}

.news span {
  margin-right: 20px;
  margin-bottom: 16px;
}

.news span:first-of-type {
  font-weight: var(--font-weight-bold);
}

@media (min-width:62rem) {
  div.news {
    flex-direction: row;
    font-weight: var(--font-weight-medium);
    line-height: 24px;
  }

  .news span {
    margin-bottom: 0;
  }

  .news span:first-of-type {
    font-weight: var(--font-weight-small);
  }
}