/* START Section Styles START */

main .section > .section-container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* section - centered */
.section.centered div {
  align-items: center;
  text-align: center;
}

/* section - full-width */
main .section.full-width>.section-container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* section - brands-top */
main .section.brands-top {
  padding-top: 3rem;
}

main .section.brands-top h2 {
  margin-bottom: 2rem;
  font-size: var(--heading-font-size-m);
  line-height: 1.3em;
  font-weight: var(--font-weight-medium);
}

main .section.brands-top h6 {
  color: #007CADB3;
  font-size: var(--font-size-xsmall);
}

main .section.brands-top p {
  text-align: center;
  max-width: 45rem;
  display: inline-block;
  line-height: 1.5;
  margin-bottom: 3rem;
  letter-spacing: 0.1px;
}

main .section.brands-top>.section-container {
  padding: 0 1rem;
}

/* section - brand-description */
main .section.brand-description {
  margin-bottom: 7.5rem;
  padding: 0 1rem;
}

main .section.brand-description em {
  font-size: var(--font-size-small);
  color: #3C4650B3;
  font-style: normal;
}


main .section.brand-description .icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-bottom: 0.3125rem;
  margin-left: 0.3125rem;
}

main .section.brand-description img {
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}

main .section.brand-description p:first-of-type img {
  max-width: 12.5rem;
  zoom: 1;
}

main .section.brand-description h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: var(--heading-font-size-m);
  line-height: 1.3em;
  font-weight: var(--font-weight-medium);
}

main .section.brand-description h3 {
  margin-top: 3.5rem;
  margin-bottom: 0.5rem;
  font-weight: var(--font-weight-bold);
  font-size: var(--heading-font-size-m);
  line-height: 1.3em;
  color: var(--link-color);
}

main .section.brand-description p {
  margin-bottom: 1.5rem;
}

main .section.brand-description .button-container {
  margin-bottom: 1.5rem;
}

main .section.brand-description a.button.primary {
  display: inline-block;
  font-weight: var(--font-weight-medium);
  font-size: var(--body-font-size-m);
  line-height: 1.5em;
  background-color: unset;
  color: var(--secondary);
  height: 0;
}

/* section - spaced */
main .section.spaced {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

main .section.spaced h2 {
  font-size: 2rem;
}

main .section.spaced h3 {
  margin: 2rem 0;
  color: var(--text-color);
}

main .section.spaced p {
  margin-bottom: 2rem;
  letter-spacing: 0;
  line-height: 27.2px;
}

main .section.spaced ul {
  margin-bottom: 4rem;
  padding-inline-start: 19px;
}

main .section.spaced li {
  margin-bottom: 1.5rem;
  line-height: 1;
}

main .section.spaced a {
  color: var(--secondary);
  text-decoration: none;
  background-color: transparent;
}

main .section.spaced>.section-container {
  max-width: 100%;
  padding: 0 1rem;
}

/* section - contacts and links from global-network */
main .section.contacts-and-links {
  margin-top: 74px;
  margin-bottom: 214px;
  margin-left: 16px;
}

main .section.contacts-and-links h3 {
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

main .section.contacts-and-links div.columns.top-down {
  margin-top: 0;
  margin-bottom: 2rem;
}

main .section.contacts-and-links .columns>div>div.non-singleton-img {
  margin-bottom: 2rem;
}

/* section - contact-us */
main .section.contact-us>.section-container {
  padding: 5rem 0;
  background-color: var(--transparent-blue-light-color);
  text-align: center;
}

main .section.contact-us h2 {
  margin-bottom: 0.5rem;
}

main .section.contact-us p.button-container {
  margin-top: 2rem;
}

/* section - margin-bottom */
main .section.margin-bottom>.section-container {
  margin-bottom: 5rem;
}

/* section metadata */
main .section-container.highlight {
  background-color: var(--highlight-background-color);
}

/** section - thank-you */
main .section.thank-you {
  text-align: left;
  margin: 64px auto 120px;
}

main .section.thank-you div.section-container {
  padding: 0 16px;
}

main .section.thank-you h2 {
  font-size: 2rem;
  font-weight: var(--font-weight-medium);
  margin-bottom: 1.5rem;
}

main .section.thank-you p {
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: var(--font-weight-medium);
}


@media (min-width:62rem) {
  /* section - brands-top */
  main .section.brands-top h6 {
    font-size: var(--font-size-small);
  }

  main .section.brands-top h2 {
    font-weight: var(--font-weight-small);
    font-size: 2.25rem;
  }

  /* section - brand-description */
  main .section.brand-description {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 54.5rem;
  }

  main .section.brand-description img,
  main .section.brand-description p:first-of-type img {
    zoom: 0.5;
    max-width: unset;
  }


  main .section.brand-description h2 {
    font-weight: var(--font-weight-small);
    font-size: 2.25rem;
  }


  /* END Brand Description Section END */

  /* START Section Styles START */
  main .section-container {
    max-width: calc(872px + 32px);
    margin-inline: auto;
    padding-left: 16px;
    padding-right: 16px
  }

  /* section - spaced */
  main .section.spaced h2 {
    font-size: var(--heading-font-size-xl);
  }


  /* section - narrow */
  main .section.narrow {
    position: relative;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 54.5rem;
  }

  /* section - contacts and links from global-network */
  main .section.contacts-and-links h3 {
    font-size: var(--heading-font-size-l);
  }

  /* section - contact-us */
  main .section.contact-us h2 {
    margin-top: 1rem;
  }

  main .section.contact-us p.button-container {
    margin-top: 1.5rem;
  }

  /* END Section Styles END */
  main .section.margin-bottom>.section-container {
    margin-bottom: 7.5rem;
  }

  main .section.thank-you {
    text-align: center;
    margin: 120px auto 240px;
  }

  main .section.thank-you h2 {
    font-size: 52px;
    margin-bottom: 5rem;
  }

  main .section.thank-you p {
    font-size: 1.5rem;
    line-height: 1em;
  }


}

@media (min-width:77rem) {
  main .section-container {
    position: relative;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px
  }

}